body {
	margin: 0;
}

.titleBox {
	background-color: #C1BBB2;
	height: 300px;
}
.title h1{
	text-align: center;
	margin: 0;
	font-family: 'PT sans';
	font-weight: 300;
	color: #999;
	line-height: 1.8;
	font-size: 30;
	margin: 0 auto;
	padding-top: 75px;
}

.textLeft {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.right {
	width: 50%;
	display: inline-block;

}
img {
	width: 100%;
	vertical-align: top;
}